beautifulsoup4==4.9.3
click==7.1.2
dateparser==1.0.0
Flask==1.1.2
Flask-WTF==0.14.3
GoogleNews==1.5.8
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
python-dateutil==2.8.1
pytz==2021.1
regex==2021.4.4
six==1.16.0
soupsieve==2.2.1
tzlocal==2.1
Werkzeug==1.0.1
WTForms==2.3.3
