{% extends "layout.html" %}
{% block content %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <h2 class="article-title">About the Website</h2>
            <p class="article-content">This website can be used to search top news headlines from google. 
                You can specify the period (number of days) the news should be from. 
                Search for different keywords in the news posted on google.</p>
        </div>
      </article>
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <h2 class="article-title">About Me</h2>
            <p class="article-content">Hello, My name is Abhishek Sharma. I am enthusisatic web developer <br>trying to hone my skills by developing different kinds of website.
            This website was developed using flask framework and google news package from python to get top news from google. 
            In case you like my work and want to colaborate connect to me @ sharma.abhi.shek.1599@gmail.com</p>
        </div>
      </article>
{% endblock content %}